.card-body{
    background-image: url("https://source.unsplash.com/900x900?nature-landscape");
    background-size: cover;
    border-radius: 5px
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";